* {
	margin: 0;
	padding: 0;
}


body {
	font-size: 62.5%;
	font-family: Helvetica, sans-serif;
	background: url(images/stripe.png) repeat;
}


p {
	font-size: 1.3em;
	margin-bottom: 15px;
}


#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 50px 50px;
	margin: 20px auto;
	min-height: 150px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}


#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

/*
span {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;

}*/

label {
	font-size: 1.4em;
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;

}
#contact-area input[type="radio"], #contact-area input[type="checkbox"] { width:5px }
li span {float:none; margin-right:0px}
dt {margin-left: 10px}
dt, dd {display:inline-table; border-bottom-style:solid; border-bottom-width:thin; width:80px}